<div class="sucursales-list-container">
    <h2>Lista de Sucursales</h2>
    <button class="nuevo-btn" (click)="navegarACrear()">Crear Nueva Sucursal</button>
  
    <div class="sucursales-list">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sucursal of sucursales">
            <td>{{ sucursal.sucursalId }}</td>
            <td>{{ sucursal.nombre }}</td>
            <td>{{ sucursal.direccion }}</td>
            <td>
              <button (click)="navegarAEditar(sucursal.sucursalId)">Editar</button>
              <button (click)="deleteSucursal(sucursal.sucursalId)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  