<div class="form-asignar-sucursal-container">
    <h2>{{ asignacionId ? 'Editar Asignación' : 'Crear Asignación' }}</h2>
    <form [formGroup]="asignacionForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="input-group">
          <label for="empleadoId">Empleado</label>
          <select id="empleadoId" formControlName="empleadoId">
            <option *ngFor="let empleado of empleados" [value]="empleado.empleadoId">
              {{ empleado.nombreEmpleado }}
            </option>
          </select>
        </div>
  
        <div class="input-group">
          <label for="sucursalId">Sucursal</label>
          <select id="sucursalId" formControlName="sucursalId">
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursalId">
              {{ sucursal.nombre }}
            </option>
          </select>
        </div>
  
        <div class="input-group">
          <label for="distanciaKm">Distancia (Km)</label>
          <input type="number" id="distanciaKm" formControlName="distanciaKm" />
        </div>
      </div>
      <button type="submit">{{ asignacionId ? 'Actualizar' : 'Crear' }}</button>
    </form>
  </div>
  