<div class="menu-container">
    <h2>Menú Principal</h2>
    <nav>
      <button (click)="navegarAUsuarios()">Usuarios</button>
      <button (click)="navegarAViajes()">Viajes</button>
      <button (click)="navegarASucursales()">Sucursales</button>
      <button (click)="navegarATransportistas()">Transportistas</button>
      <button (click)="navegarAAsignarSucursales()">Asignar Sucursales</button>
      <button (click)="navegarAEmpleados()">Empleados</button>
      <button (click)="navegarAReportes()">Empleados</button>
      <button (click)="logout()">Cerrar Sesión</button>
    </nav>
  </div>
  