<div class="form-transportista-container">
    <h2>{{ transportistaId ? 'Editar Transportista' : 'Crear Transportista' }}</h2>
    <form [formGroup]="transportistaForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="input-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Ingrese el nombre" />
        </div>
  
        <div class="input-group">
          <label for="tarifaPorKm">Tarifa por Km</label>
          <input type="number" id="tarifaPorKm" formControlName="tarifaPorKm" placeholder="Ingrese la tarifa por km" />
        </div>
  
        <div class="input-group">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" formControlName="telefono" placeholder="Ingrese el teléfono" step="0.01" min="0" />
        </div>
  
        <div class="input-group">
          <label for="estado">Estado</label>
          <select id="estado" formControlName="estado">
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </div>
      </div>
      <button type="submit">{{ transportistaId ? 'Actualizar' : 'Crear' }}</button>
    </form>
  </div>
  